@font-face {
  font-family: 'Myriad Regular';
  src: url('../assets/fonts/Myriadregular.ttf');
}

@font-face {
  font-family: 'Myriad Light';
  src: url('../assets/fonts/MyriadPro-Light.otf');
}

@font-face {
  font-family: 'Myriad Bold';
  src: url('../assets/fonts/MyriadPro-Bold.otf');
}
